<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <!-- 테이블에 대한 모든 SQL문을 mapper태그 안에 작성 -->
<mapper namespace="classMapper">
	<!--  먼저 resultMap을 만들어준다.-->
	<!-- resultMap : 쿼리 실행결과 나온 데이터를 자바로 가져올 수 있도록 자바클래스와 결과를 연결(매핑)시켜주는 작업 -->
	<!--  resultmap작성 -->
	<resultMap type="com.spring.vo.ClassVO" id="class">
		<id column="CLASS_CODE" property="classCode"/>
		<result column="CLASS_NAME" property="className"/>
	</resultMap>
		
	<select id="selectClassList" resultMap="class">
		SELECT CLASS_CODE
			, CLASS_NAME
		FROM CLASS_INFO
		ORDER BY CLASS_CODE
	</select>
	<insert id="insertClass">
		INSERT INTO CLASS_INFO (
			CLASS_CODE
			, CLASS_NAME
		) VALUES(
			#{classCode}
			, #{className}
		)
	</insert>
	<delete id="deleteClass">
		DELETE CLASS_INFO
		WHERE CLASS_CODE = #{classCode}
	</delete>
	
</mapper>
	<!--  쿼리 작성-->
	
	<!-- <select id="selectBoardList" resultMap="board">
		SELECT BOARD_NUM
			, TITLE
			, MEMBER_ID
			, CREATE_DATE
			, READ_CNT
		FROM BOARD
		ORDER BY CREATE_DATE DESC
	</select>
	<select id="selectBoard" resultMap="board">
		SELECT BOARD_NUM
			, TITLE
			, CONTENT
			, MEMBER_ID
			, CREATE_DATE
			, READ_CNT
		FROM BOARD
		WHERE BOARD_NUM = #{boardNum}
	</select>
	<delete id="deleteBoard">
		DELETE BOARD 
		WHERE BOARD_NUM = #{boardNum}
	</delete> -->
